﻿@model ControlComida.Library.Model.mSolicitudDet

@{
    ViewBag.Title = "CreateSubSolicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Solicitud</h2>
<div id="page-wrapper">
    <h2>Solicitudes de comida</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Crear subSolicitud de Comida
                </div>
                <form role="form">
                    <div class="panel-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <fieldset>
                                <legend>Subsolicitud</legend>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.HorarioTrabajo)
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownList("CodigoHorTrabajo", (IEnumerable<SelectListItem>)ViewData["Horarios"],
                                    new { id = "CodigoHorTrabajo" })
                                    @Html.ValidationMessageFor(model => model.HorarioTrabajo)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.CodigoEmpleado)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.CodigoEmpleado)
                                    @Html.ValidationMessageFor(model => model.CodigoEmpleado)
                                </div>
                                <p>
                                    <input type="submit" value="Create" />
                                </p>
                            </fieldset>
                        }

                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>                    
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
