﻿@model ControlComida.Library.Model.mSolicitudEnc

@{
    ViewBag.Title = "Crear Solicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Solicitud</h2>
<div id="page-wrapper">
    <h2>Solicitudes de comida</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Crear Solicitud de Comida
                </div>
                <form role="form" method="post">
                    <div class="panel-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <fieldset>
                                <legend>Solicitud</legend>
                                @Html.HiddenFor(model => model.Numero_Solicitud)

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.IdTipoComida)
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownList("IdTipoComida", (IEnumerable<SelectListItem>)ViewData["tipoComida"],
                                    new { id = "IdTipoComida" })
                                    @Html.ValidationMessageFor(model => model.IdTipoComida)
                                </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.IdArea)
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownList("IdArea", (IEnumerable<SelectListItem>)ViewData["AreaSolicitud"],
                                    new { id = "IdArea" })
                                    @Html.ValidationMessageFor(model => model.IdArea)
                                </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.IdComedor)
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownList("IdComedor", (IEnumerable<SelectListItem>)ViewData["Comedor"],
                                    new { id = "IdComedor" })
                                    @Html.ValidationMessageFor(model => model.IdComedor)
                                </div>                         
                                
                                @*@Html.Partial("pCreate", Model)*@
                                
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Observacion)
                                </div>
                                <div class="editor-field">
                                    @Html.TextAreaFor(model => model.Observacion, new { id = "textarea1", cols = "110", rows = "5", wrap = "virtual" })
                                    @Html.ValidationMessageFor(model => model.Observacion)
                                </div>
                                <p>
                                    <input type="submit" class="btn btn-primary" value="Crear" />
                                </p>
                            </fieldset>
                        }

                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>

                        @section Scripts {
                            @Scripts.Render("~/bundles/jqueryval")
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*<div class="editor-label">
        @Html.LabelFor(model => model.UsuarioAgrega)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.UsuarioAgrega)
        @Html.ValidationMessageFor(model => model.UsuarioAgrega)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.UsuarioAutoriza)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.UsuarioAutoriza)
        @Html.ValidationMessageFor(model => model.UsuarioAutoriza)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.UsuarioVerifica)
    </div>
    <div class="editor-field">
        @Html.HiddenFor(model => model.UsuarioVerifica)
        @Html.ValidationMessageFor(model => model.UsuarioVerifica)
    </div>*@


@*<div class="editor-label">
        @Html.LabelFor(model => model.FechaIngreso)
    </div>
    <div class="editor-field">
        @Html.HiddenFor(model => model.FechaIngreso)
        @Html.ValidationMessageFor(model => model.FechaIngreso)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.FechaSolicitud)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.FechaSolicitud)
        @Html.ValidationMessageFor(model => model.FechaSolicitud)
    </div>*@