﻿@model IEnumerable< ControlComida.Library.Model.mVistaSolicitudes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <h2>Solicitudes de comida</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Solicitudes de comida Listado
                </div>
                <div class="panel-body">
                    @*<div class="row">
                        <div class="col-lg-6">*@

                    <div class="dataTable_wrapper">
                        @using (Html.BeginForm())
                        {
                            <table id="tSolicitudes" class="table table-striped table-bordered table-hover"
                                   data-info="true"
                                   data-search="true"
                                   data-paginate="true">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="display-label">
                                                @Html.DisplayNameFor(model => model.NumeroSolicitud)
                                            </div>
                                        </th>
                                        <th>
                                            <div class="display-label">
                                                @Html.DisplayNameFor(model => model.TipoComida)
                                            </div>
                                        </th>
                                        <th>
                                            <div class="display-label">
                                                @Html.DisplayNameFor(model => model.AreadeSolicitud)
                                            </div>
                                        </th>
                                        @*@<th>
                                            <div class="display-label">
                                                @Html.DisplayNameFor(model => model.IdComedor)
                                            </div>
                                        </th>
                                        <th>
                                            <div class="display-label">
                                                @Html.DisplayNameFor(model => model.Observacion)
                                            </div>
                                        </th>
                                        <th>
                                            <div class="display-label">
                                                @Html.DisplayNameFor(model => model.UsuarioAgrega)
                                            </div>
                                        </th>
                                        <th>
                                            <div class="display-label">
                                                @Html.DisplayNameFor(model => model.UsuarioAutoriza)
                                            </div>
                                        </th>
                                        <th>
                                            <div class="display-label">
                                                @Html.DisplayNameFor(model => model.UsuarioVerifica)
                                            </div>
                                        </th>
                                        <th>
                                            <div class="display-label">
                                                @Html.DisplayNameFor(model => model.FechaIngreso)
                                            </div>
                                        </th>*@
                                        <th>
                                            <div class="display-label">
                                                @Html.DisplayNameFor(model => model.FechaSolicitud)
                                            </div>
                                        </th>
                                        @*<th>
                                            <div class="display-label">
                                                @Html.DisplayNameFor(model => model.HorarioTrabajo)
                                            </div>
                                        </th>*@
                                        <th>
                                            <div class="display-label">
                                                @Html.DisplayNameFor(model => model.CodigoEmpleado)
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th>
                                                <div class="display-field">
                                                    @Html.DisplayFor(model => item.NumeroSolicitud)
                                                </div>
                                            </th>
                                            <th>
                                                <div class="display-field">
                                                    @Html.DisplayFor(model => item.TipoComida)
                                                </div>
                                            </th>
                                            <th>
                                                <div class="display-field">
                                                    @Html.DisplayFor(model => item.AreadeSolicitud)
                                                </div>
                                            </th>
                                            @*<th>
                                                <div class="display-field">
                                                    @Html.DisplayFor(model => item.IdComedor)
                                                </div>
                                            </th>*@
                                            @*<th>
                                                <div class="display-field">
                                                    @Html.DisplayFor(model => item.Observacion)
                                                </div>
                                            </th>*@
                                            @*<th>
                                                <div class="display-field">
                                                    @Html.DisplayFor(model => item.UsuarioAgrega)
                                                </div>
                                            </th>
                                            <th>
                                                <div class="display-field">
                                                    @Html.DisplayFor(model => item.UsuarioAutoriza)
                                                </div>
                                            </th>
                                            <th>
                                                <div class="display-field">
                                                    @Html.DisplayFor(model => item.UsuarioVerifica)
                                                </div>
                                            </th>*@
                                            @*<th>
                                                <div class="display-field">
                                                    @Html.DisplayFor(model => item.FechaIngreso)
                                                </div>
                                            </th>*@
                                            <th>
                                                <div class="display-field">
                                                    @Html.DisplayFor(model => item.FechaSolicitud)
                                                </div>
                                            </th>
                                            @*<th>
                                                <div class="display-field">
                                                    @Html.DisplayFor(model => item.HorarioTrabajo)
                                                </div>
                                            </th>*@
                                            <th>
                                                <div class="display-field">
                                                    @Html.DisplayFor(model => item.CodigoEmpleado)
                                                </div>
                                            </th>
                                            <th>
                                                @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
                                            </th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>

                            <p>

                                @Html.ActionLink("Back to List", "Index")
                            </p>
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#tSolicitudes').dataTable()
    });
</script>