﻿@model ControlComida.Library.Model.mSolicitudDet

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginCollectionItem("SolcitudNueva"))
{ 
    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.HorarioTrabajo)
        </div>
        <div class="editor-field">
                @*@Html.DropDownListFor(model => model.HorarioTrabajo,
                    new SelectList(ViewBag.Horarios, "CodigoHorTrabajo", "DescripcionHorTrabajo"))*@
                
                @Html.DropDownList("CodigoHorTrabajo", (IEnumerable<SelectListItem>)ViewData["Horarios"],
                new { id = "CodigoHorTrabajo" })                

                @Html.ValidationMessageFor(model => model.HorarioTrabajo)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.CodigoEmpleado)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CodigoEmpleado)
                @Html.ValidationMessageFor(model => model.CodigoEmpleado)
            </div>


        </fieldset>
    }