﻿@model ControlComida.Library.Model.mAreaSolicitante

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <form role="form" method="post">
        <h2>Solicitudes de comida</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Crear subSolicitud de Comida
                    </div>
    
                    <div class="panel-body">
                        <h2>Crear</h2>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <fieldset>
                                <legend>Area Solicitante</legend>

                                @Html.HiddenFor(model => model.IdArea)

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.DesccripcionArea)
                                </div>
                                <div class="form-group" placeholder="Descripción">
                                    @Html.EditorFor(model => model.DesccripcionArea)
                                    @Html.ValidationMessageFor(model => model.DesccripcionArea)
                                </div>

                                <p>
                                    <input type="submit" class="btn btn-primary" value="Crear" />
                                </p>
                            </fieldset>
                        }

                        <div>
                            @Html.ActionLink("Retorno a la lista", "Index")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
 </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
