﻿@model ControlComida.Library.Model.mAreaSolicitante

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <h2>Borrar</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Eliminar Area
                </div>
                <form role="form">
                    <div class="panel-body">
                        <h3>Seguro que lo quiere borrar?</h3>
                        <fieldset>
                            <legend>Area Solicitante</legend>

                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.DesccripcionArea)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.DesccripcionArea)
                            </div>
                        </fieldset>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <p>
                                <input type="submit" value="Delete" /> |
                                @Html.ActionLink("Back to List", "Index")
                            </p>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
