﻿@model IEnumerable<ControlComida.Library.Model.mAreaSolicitante>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="page-wrapper">
    <h2>Area de Solicitud</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Area de Solicitud
                </div>
                <form role="form">
                    <div class="panel-body">
                        <li>@Html.ActionLink("Crear", "Create", "AreaSolicitante/Create")</li>
                        <div class="table-responsive">
                            @using (Html.BeginForm())
                            {

                                <table id="tAreas" class="table table-condensed"
                                       data-info="true"
                                       data-search="true"
                                       data-paginate="true">
                                    <thead>
                                        <tr>
                                            <th>
                                                #
                                            </th>
                                            <th>
                                                Area
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <th>
                                                    @Html.DisplayFor(model => item.IdArea)
                                                </th>
                                                <th>
                                                    @Html.DisplayFor(model => item.DesccripcionArea)
                                                </th>
                                                <th>
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.IdArea })
                                                </th>
                                                <th>
                                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdArea })
                                                </th>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot></tfoot>
                                </table>
                            }

                        </div>
                        <p>

                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
                    <script type="text/javascript" language="javascript">
                        $(document).ready(function () {
                            $('#tAreas').dataTable()
                        });
                    </script>
