﻿@model IEnumerable<ControlComida.Entity.Data.tblHorariosTrabajos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_Hor_Trabajo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion_Hor_Trabajo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_Hor_Trabajo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion_Hor_Trabajo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
