﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")

    <!-- Bootstrap Core CSS -->
    <link href="~/BootStrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/BootStrap/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="~/BootStrap/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/BootStrap/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    @*<link href="~/BootStrap/bower_components/morrisjs/morris.css" rel="stylesheet">*@

    <!-- Custom Fonts -->
    <link href="~/BootStrap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- jQuery -->

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    @*<script src="~/BootStrap/bower_components/jquery/dist/jquery.min.js"></script>*@

    <!-- Bootstrap Core JavaScript -->
    @*<script src="~/BootStrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>*@
    
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/BootStrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/BootStrap/dist/js/sb-admin-2.js"></script>

</head>
<body>    
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Control Comida</a>
                </div>
            <div class="collapse navbar-collapse">
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Solicitudes<span class="fa arrow"></span></a>

                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/SolicitudComida/Index">Listado de Solicitud</a>
                                    </li>
                                    <li>
                                        <a href="/SolicitudComida/Create">Crear Solicitud</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->

                            </li>
                            <li>
                                <a href="/AreaSolicitante/Index"><i class="fa fa-table fa-fw"></i> Area Solicitante</a>
                            </li>
                            <li>
                                <a href="/AreaSolicitante/Create"><i class="fa fa-edit fa-fw"></i> Crear Area Solicitante</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </div>

        </nav>
    </div>

    
    

    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            
            @RenderBody()
            
        </section>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@

    <div id="footer">
        <div class="container">
            <p class="text-muted">
                <strong>Dirección:</strong>
                Av. Enrique Jim&eacute;nez Moya, Esq. Juan de Dios Ventura Sim&oacute;,
                Centro de los H&eacute;roes de Constanza,
                Maim&oacute;n y Estero Hondo (La Feria),
                <br>Santo Domingo, D.N., Rep.Dom.
                <br>
                <abbr title="Telefonos"></abbr>
                <strong>Tel&eacute;fono:</strong>
                809.532.5561
                <br />
                <p class="text-muted">
                    <strong>Correo Electr&oacute;nico:</strong>
                    <a href="mailto:info@senado.gov.do">info@senado.gov.do</a>
                </p>
            </p>
                <div class="content-wrapper">
                    <div class="float-left">
                        <div class="text-muted">
                            <p>&copy; @DateTime.Now.Year - Senado de la Republica</p>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
    

    <!-- Morris Charts JavaScript -->
    @*<script src="~/BootStrap/bower_components/raphael/raphael-min.js"></script>
    <script src="~/BootStrap/bower_components/morrisjs/morris.min.js"></script>
    <script src="~/BootStrap/js/morris-data.js"></script>*@
    
    @RenderSection("scripts", required: false)
    
</body>
</html>