﻿@model IEnumerable<ControlComida.Library.Model.mVistaSolicitudes>

@{
    ViewBag.Title = "AprobarLista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <form role="form" method="post">
        <h2>Solicitudes de comida</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Aprobar Listado
                    </div>
                    <div class="panel-body">
                        <h2>Aprobar Lista</h2>
                        <p>
                            @Html.ActionLink("Create New", "Create")
                        </p>
                        <table>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NumeroSolicitud)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TipoComida)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AreadeSolicitud)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdComedor)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Observacion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UsuarioAgrega)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UsuarioAutoriza)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UsuarioVerifica)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaIngreso)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaSolicitud)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.HorarioTrabajo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CodigoEmpleado)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumeroSolicitud)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TipoComida)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AreadeSolicitud)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdComedor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Observacion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UsuarioAgrega)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UsuarioAutoriza)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UsuarioVerifica)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaIngreso)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaSolicitud)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HorarioTrabajo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CodigoEmpleado)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>