﻿@model ControlComida.Library.Model.mSolicitudDet

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="page-wrapper">
    <form role="form" method="post">
        <h2>Solicitudes de comida</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Crear subSolicitud de Comida
                    </div>

                    <div class="panel-body">
                        <h2>Empleado</h2>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <fieldset>
                                <legend>Empleado</legend>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.CodigoHorTrabajo)
                                </div>

                                <div class="form-group">
                                    @Html.DropDownList("CodigoHorTrabajo", (IEnumerable<SelectListItem>)ViewData["Horarios"],
                                    new { id = "CodigoHorTrabajo" })

                                    @Html.ValidationMessageFor(model => model.CodigoHorTrabajo)
                                </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.CodigoEmpleado)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.CodigoEmpleado, new { id = "CodigoEmpleado" })
                                    @Html.ValidationMessageFor(model => model.CodigoEmpleado)
                                </div>
                                
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Nombre)
                                </div>
                                
                                <div class="form-control">
                                    @Html.TextBoxFor(model => model.Nombre, htmlAttributes: new { id = "Nombre" })
                                    @Html.ValidationMessageFor(model => model.Nombre)
                                </div>
                                    
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(model => model.IDecision, "true") agregar + 
                                        <p></p>
                                        @Html.RadioButtonFor(model => model.IDecision, "false") guardar
                                    </label>
                                </div>

                                <p>
                                    <input type="submit" class="btn btn-primary" value="Agregar" />
                                </p>
                            </fieldset>
                        }

                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>

                        @section Scripts {
                            @Scripts.Render("~/bundles/jqueryval")
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" language="javascript"> 
    $('#CodigoEmpleado').focusout(function()
    {
        $.get("Solicitud/SearchEmpleado", {vCodigoEmpleado: CodigoEmpleado}, function(data){
            $("#Nombre").val(data.NombreEmpleado);
        })
    });
    //$('#CodigoEmpleado').blur(function () {
    //    $.ajax({
    //        type: "POST",
    //        url: "Solicitud/SearchEmpleado", {vCodigoEmpleado: CodigoEmpleado}, // Don't know asp/asp.net at all so you will have to do this bit
    //        data: { codigoEmpleado: $this.val() },
    //        datatype: 'json'
    //    }).done(function( model ){
    //                    $("#Nombre").val(model.NombreEmpleado);
    //                }
    //            )        
    //});
</script>

@*<script type="text/javascript">
    $(function () {
        $('#CodigoEmpleado').keyup(function (e) {
            if ($(this).val().length == $(this))
                $(this).next(':display').focus()
        })
    })
</script>*@