﻿@model ControlComida.Library.Model.mVistaSolicitudes

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>mVistaSolicitudes</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroSolicitud)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroSolicitud)
            @Html.ValidationMessageFor(model => model.NumeroSolicitud)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TipoComida)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TipoComida)
            @Html.ValidationMessageFor(model => model.TipoComida)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AreadeSolicitud)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AreadeSolicitud)
            @Html.ValidationMessageFor(model => model.AreadeSolicitud)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdComedor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdComedor)
            @Html.ValidationMessageFor(model => model.IdComedor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Observacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Observacion)
            @Html.ValidationMessageFor(model => model.Observacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UsuarioAgrega)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UsuarioAgrega)
            @Html.ValidationMessageFor(model => model.UsuarioAgrega)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UsuarioAutoriza)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UsuarioAutoriza)
            @Html.ValidationMessageFor(model => model.UsuarioAutoriza)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UsuarioVerifica)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UsuarioVerifica)
            @Html.ValidationMessageFor(model => model.UsuarioVerifica)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaIngreso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaIngreso)
            @Html.ValidationMessageFor(model => model.FechaIngreso)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaSolicitud)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaSolicitud)
            @Html.ValidationMessageFor(model => model.FechaSolicitud)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HorarioTrabajo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HorarioTrabajo)
            @Html.ValidationMessageFor(model => model.HorarioTrabajo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CodigoEmpleado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CodigoEmpleado)
            @Html.ValidationMessageFor(model => model.CodigoEmpleado)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
